name: CI

on:
  push:
    branches:
      - main
      - develop
      - boris/*
    tags:
      - '*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build and upload
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 11
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven
      run: mvn --batch-mode clean package verify javadoc:jar source:jar site

    - name: Archive plugin jar
      uses: actions/upload-artifact@v5
      with:
        path: ./cc-xjc-dist/target/cc-xjc-*

  tests:
    name: Build with JDK ${{ matrix.Java }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17', '21', '25' ]

    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: ${{ matrix.Java }}
        distribution: 'temurin'
        cache: 'maven'

    - name: Build with Maven
      run: mvn --batch-mode clean package verify site
